.sidebar {
  @include media-breakpoint-up(md) {
    flex: 0 0 170px; //or become icons
  }
  @include media-breakpoint-up(lg) {
    flex: 0 0 210px;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 0 260px;
  }

  .nav-link.router-link-active {
    background-color: $white; 
    color: $primary !important;
    transition: .5s;
  }
}

.main {
  flex: 1;
}
