$aside-show-width: 14rem;
$aside-hide-width: 3.5rem;

.sidebar {
  // .nav-link.router-link-active {
  //   background-color: $white;
  //   color: $primary !important;
  //   transition: 0.5s;
  // }
}

.dashboardNavbar {
  height: 50px;
}

.asideContainer {
  height: 100%;
  width: $aside-show-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  &.foldSidebar {
    width: $aside-hide-width;
  }
}

.mainContainer {
  height: 100%;
  margin-left: $aside-show-width;
  &.expendMain {
    margin-left: $aside-hide-width;
  }
}
