html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

h1 {
  font-size: 0;
  a {
    @include hideText(130px, auto, '~@/assets/img/logo_sm.png', '~@/assets/img/logo_sm.png');
  }
}

header {
  .icon {
    font-size: 1.25rem;
  }

  button:focus {
    outline: 0;
  }
}

.footer {
  li a {
    font-size: 1.5rem;
  }

  img {
    max-width: 130px;
  }
}

.transition {
  transition: 0.2s ease-out;
}

.flex-grow {
  flex: 1;
}

//dynamic
.whiteIcon {
  @include hideText(
    130px,
    auto,
    '~@/assets/img/logo_sm_white.png',
    '~@/assets/img/logo_sm_white.png'
  );
}
.blackIcon {
  @include hideText(130px, auto, '~@/assets/img/logo_sm.png', '~@/assets/img/logo_sm.png');
}

.shadowBottom {
  box-shadow: 0px 4px 5px -5px $gray-600;
}
