h1 {
  font-size: 0;
  a {
    // @include hideText(130px, auto, "../img/logo_sm.png", "../img/logo_sm.png");
  }
}

.header {
  .icon li a {
    font-size: 1.25rem;
  }

  button:focus {
    outline: 0;
  }
}

.footer {
  li a {
    font-size: 1.5rem;
  }

  img {
    max-width: 130px;
  }
}

.transition {
  transition: 0.2s ease-out;
}

//dynamic
.whiteIcon {
  // @include hideText(
  //   130px,
  //   auto,
  //   "../img/logo_sm_white.png",
  //   "../img/logo_sm_white.png"
  // );
}
.blackIcon {
  // @include hideText(130px, auto, "../img/logo_sm.png", "../img/logo_sm.png");
}
.shadowBottom {
  box-shadow: 0px 0px 8px 0px $gray-600;
}

//footer place bottom
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.content {
  box-sizing: border-box;
  min-height: calc(100% - 56px);
  padding-bottom: 67.22px;

  @include media-breakpoint-up(sm) {
    min-height: calc(100% - 64px);
  }

  @include media-breakpoint-up(md) {
    min-height: calc(100% - 72px);
  }
}

.footer {
  height: 67.22px;
  margin-top: -67.22px;
}