.products img {
  object-fit: contain;
}

.sideFilter {
  @include media-breakpoint-up(md) {
    flex: 0 0 230px;
  }
  @include media-breakpoint-up(lg) {
    flex: 0 0 280px;
  }
}

.products {
  flex: 1;
}
