.dashboardProducts {
  table tbody {
    display: block;
    max-height: calc(75vh - 100px);
    overflow-y: scroll;
  }

  table thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody > tr:nth-child(odd) {
    background-color: $gray-100;
  }
}
